                <option value="Tunis, Tunisie">Tunis, Tunisie</option>
                <option value="Ariana, Tunisie">Ariana, Tunisie</option>
                <option value="Ben Arous, Tunisie">Ben Arous, Tunisie</option>
                <option value="Manouba, Tunisie">Manouba, Tunisie</option>
                <option value="Nabeul, Tunisie">Nabeul, Tunisie</option>
                <option value="Zaghouan, Tunisie">Zaghouan, Tunisie</option>
                <option value="Bizerte, Tunisie">Bizerte, Tunisie</option>
                <option value="Béja, Tunisie">Béja, Tunisie</option>
                <option value="Jendouba, Tunisie">Jendouba, Tunisie</option>
                <option value="Kef, Tunisie">Kef, Tunisie</option>
                <option value="Siliana, Tunisie">Siliana, Tunisie</option>
                <option value="Kairouan, Tunisie">Kairouan, Tunisie</option>
                <option value="Kasserine, Tunisie">Kasserine, Tunisie</option>
                <option value="Sidi Bouzid, Tunisie">Sidi Bouzid, Tunisie</option>
                <option value="Sousse, Tunisie">Sousse, Tunisie</option>
                <option value="Monastir, Tunisie">Monastir, Tunisie</option>
                <option value="Mahdia, Tunisie">Mahdia, Tunisie</option>
                <option value="Sfax, Tunisie">Sfax, Tunisie</option>
                <option value="Gafsa, Tunisie">Gafsa, Tunisie</option>
                <option value="Tozeur, Tunisie">Tozeur, Tunisie</option>
                <option value="Kebili, Tunisie">Kebili, Tunisie</option>
                <option value="Gabès, Tunisie">Gabès, Tunisie</option>
                <option value="Medenine, Tunisie">Medenine, Tunisie</option>
                <option value="Tataouine, Tunisie">Tataouine, Tunisie</option>