<head>
    <head>
       <title>Error 404 - Page Not Found</title>
       <%-include('./common/head') %>
       <!-- Your other CSS files -->
       <style>




       </style>
 </head>
 </head>
 <body>
    <div class="custom-container">
       <%-include('./common/sidebar') %>
       <div class="main-content">
          <%-include('./common/navbar') %>
          <h1>Erreur 404 - Page Introuvable</h1>
          <p>Oups ! Il semblerait que la page que vous cherchez est actuellement indisponible.</p>
          <hr>
       </div>
       <%-include('./common/footer') %>
    </div>
 </body>