<head>
    <head>
       <title>Error 404 - Page Not Found</title>
       <%-include('./common/head') %>
       <!-- Your other CSS files -->
       <style>
       </style>
 </head>
 </head>
 <body>
    <div class="custom-container">
       <%-include('./common/sidebar') %>
       <div class="main-content">
          <%-include('./common/navbar') %>
          <h1>Error 404 - Page Not Found</h1>
          <p>Oops! It seems like the page you're looking for is currently unavailable. </p>
          <hr>
       </div>
       <%-include('./common/footer') %>
    </div>
 </body>