<h1>Hello this is Etudiant page</h1>        


<script>
    // Fetch the JSON data
    fetch('/scratch/user.json')
        .then(response => response.json())
        .then(data => {
           console.log(data);
        })
        .catch(error => console.error('Error fetching user data:', error));
</script>