<head>
    <head>
       <title>Gestion des Stages -Plannification</title>
       <%-include('./common/head') %>
       <!-- Your other CSS files -->
   
 </head>
 </head>
 <body>
    <div class="custom-container">
       <%-include('./common/sidebar') %>
       <div class="main-content">
          <%-include('./common/navbar') %>
          <h1 style="margin: 15px; padding: 15px;">Tableau de bord this Plannification</h1>


          <hr>

   
              <div class="container mt-5">
                  <a href="/gestion" class="btn btn-primary">
                      <i class="bi bi-arrow-left"></i> Button
                  </a>
                  <a href="/gestion" class="btn btn-success">
                      <i class="bi bi-arrow-left"></i> Button
                  </a>
                  <a href="/gestion" class="btn btn-outline-secondary">
                     <i class="bi bi-arrow-left"></i> Go Back
                   </a>
              </div>
           
          

          <hr>
          <%-include('./common/footer') %>
       </div>
     
    </div>
  
 </body>