<head>
    <head>
       <title>Gestion des Stages -Plannification</title>
       <%-include('./common/head') %>
       <!-- Your other CSS files -->
       <style>
       </style>
 </head>
 </head>
 <body>
    <div class="custom-container">
       <%-include('./common/sidebar') %>
       <div class="main-content">
          <%-include('./common/navbar') %>
          <h1 style="margin: 15px; padding: 15px;">Tableau de bord this Plannification</h1>


          <hr>

  
          <hr>
          <%-include('./common/footer') %>
       </div>
     
    </div>
  
 </body>