
<head>
 
    <head>
     
        <title>postuer</title>
        <%-include('./common/head') %>
        <!-- Your other CSS files -->
        <style>
           
        </style>
       
    </head> 
    
</head>
<body>
    <div class="custom-container">
                     
        <%-include('./common/sidebar') %>

        
        <div class="main-content">
           
            <%-include('./common/navbar') %>
            <h1 style="margin: 15px; padding: 15px;">Postulation</h1>
           

           <hr>
          
           
        </div>
             <%-include('./common/footer') %>

    </div>

 

     
</body>

