<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

<% if (data.length > 0) { %>

<div class="container">
  <div class="table-responsive">
    <table class="table table-striped table-bordered" id="myTable">
      <thead class="thead-dark">
        <tr>
          <% Object.keys(data[0]).forEach(key => { %>
          <th class="sortable" data-sort-direction="asc" data-sort-by="<%= key %>">
            <%= key %> <i class="bi bi-sort-down-alt"></i>
          </th>
          <% }); %>
        </tr>
      </thead>
      <tbody>
        <% data.forEach(row => { %>
        <tr>
          <% Object.values(row).forEach(value => { %>
          <td><%= value %></td>
          <% }); %>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<% } else { %>
<p><%= tableName %> has no record</p>
<% } %>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var table = document.getElementById('myTable');
    var headers = table.getElementsByTagName('th');

    for (var i = 0; i < headers.length; i++) {
      headers[i].addEventListener('click', function() {
        sortTable(this.dataset.sortBy, this.dataset.sortDirection);
        toggleSortDirection(this);
      });
    }

    function sortTable(sortBy, sortDirection) {
      var rows = Array.from(table.getElementsByTagName('tr'));
      rows.shift(); // Remove the header row

      rows.sort(function(a, b) {
        var aValue = a.getElementsByTagName('td')[Object.keys(data[0]).indexOf(sortBy)].textContent;
        var bValue = b.getElementsByTagName('td')[Object.keys(data[0]).indexOf(sortBy)].textContent;

        if (sortDirection === 'asc') {
          return aValue.localeCompare(bValue);
        } else {
          return bValue.localeCompare(aValue);
        }
      });

      var tbody = table.getElementsByTagName('tbody')[0];
      rows.forEach(function(row) {
        tbody.appendChild(row);
      });
    }

    function toggleSortDirection(th) {
      if (th.dataset.sortDirection === 'asc') {
        th.dataset.sortDirection = 'desc';
        th.getElementsByTagName('i')[0].className = 'bi bi-sort-alpha-down';
      } else {
        th.dataset.sortDirection = 'asc';
        th.getElementsByTagName('i')[0].className = 'bi bi-sort-down-alt';
      }
    }
  });
</script>