   <!-- Form for editing user data -->
   <form action="/updateUserData" method="POST">
    <input type="hidden" name="_csrf" value="<%= userData.TOKEN %>">
    <div class="form-data">
        <div class="form-group">
            <label for="nom">Last Name:</label>
            <input type="text" class="form-control" id="nom" name="nom" value="<%= userData.NOM %>">
        </div>
        <div class="form-group">
            <label for="prenom">First Name:</label>
            <input type="text" class="form-control" id="prenom" name="prenom" value="<%= userData.PRENOM %>">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" value="<%= userData.EMAIL %>">
        </div>
        <!-- Add more input fields for other data -->
    </div>
    <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>



try {
    if (req.session.user) {
      let user = req.session.user;
      let email = user.EMAIL;
      // Update user data in the database based on form input
      const updatedUserData = await UserRegistration.update({ NOM: req.body.nom, PRENOM: req.body.prenom, EMAIL: req.body.email }, { where: { EMAIL: email } });
      if (updatedUserData) {
        req.flash('success', 'User data updated successfully.');
        return res.redirect('/');
      } else {
        req.flash('error', 'Failed to update user data.');
        return res.redirect('/');
      }
    } else {
      // Handle unauthorized access or session expiration
      res.status(401).send('Unauthorized');
    }
  } catch (error) {
    console.error(error);
    req.flash('error', 'An error occurred while updating user data. Please try again later.');
    return res.redirect('/');
  }