<style>
  .button-group button {
    margin-right: 10px; /* Ajustez la valeur de la marge selon vos préférences */
  }
  h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007bff;
  }
</style>

<!-- Modal mot de passe oublié -->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title" id="forgotPasswordModalLabel">Mot de passe oublié</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
          </div>
          <div class="modal-body">
              <!-- Formulaire de réinitialisation du mot de passe -->
              <form id="resetPasswordForm">
                  <div class="mb-3">
                      <label for="resetEmail" class="form-label"><b><h>Veuillez entrer votre adresse e-mail pour réinitialiser le mot de passe</h></b></label>
                      <input type="email" class="form-control" id="resetEmail" aria-describedby="emailHelp" placeholder="Entrez votre adresse e-mail" required>
                  </div>
                  <div class="button-group d-flex justify-content-between w-100">
                      <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
                      <button type="submit" class="btn btn-primary">Réinitialiser</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- Modal message de succès -->
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="successModalLabel" style="color: green;">Succès</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
          </div>
          <div class="modal-body">
              <b style="color: green;"> <span id="successMessage"></span> <span id="resetEmailText"></span> </b> 
          </div>
      </div>
  </div>
</div>

<!-- Modal message d'erreur -->
<div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="errorModalLabel" style="color: rgb(202, 48, 48);">Erreur</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
          </div>
          <div class="modal-body">
              <b style="color: rgb(202, 34, 34);">Erreur : <span id="resetEmailText1"></span> <span id="errorMessage"></span> </b> 
          </div>
      </div>
  </div>
</div>
