
 <style>
    footer {
    background-color: #000000; /* Background color of the footer */
    color: #fff; /* Text color of the footer */
    padding: 20px; /* Padding around the footer content */
    text-align: center; /* Align the text to the center */
    position: fixed; /* Fix the footer to the bottom of the viewport */
    left: 0;
    bottom: 0;
    width: 100%; /* Make the footer span the entire width of the viewport */
}

</style> 
<!-- <style>
    footer {
  /* background-color: #333; */
  background-color: black;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}
</style> -->

<footer>
    <p>&copy; 2024 My Website. All rights reserved.</p>
</footer>