
<style>
    .selected {
        background-color: #007bff;
        color: #fff;
    }
</style>
</head>
<body>
<div class="sidebar-nav">
    <div class="logo">
        <a href="/">Gestion des Stages</a>
    </div>
    <ul id="sidebarMenu">
        <li><a href="/#" class="sidebar-item"><i class="fas fa-tachometer-alt"></i> Tableau de bord</a></li>
        <li><a href="/#" class="sidebar-item"><i class="fas fa-users"></i> Étudiants</a></li>
        <li><a href="/#" class="sidebar-item"><i class="fas fa-chalkboard-teacher"></i> Enseignants</a></li>
        <li><a href="/#" class="sidebar-item"><i class="fas fa-building"></i> Entreprises</a></li>
        <li><a href="/#" class="sidebar-item"><i class="fas fa-file-alt"></i> Liste des stages</a></li>
        <li><a href="/#" class="sidebar-item"><i class="fas fa-calendar-alt"></i> Calendrier</a></li>
        <li><a href="/#" class="sidebar-item"><i class="fas fa-cog"></i> Paramètres</a></li>
        <li>
            <a href="#gestionSubmenu" class="sidebar-item dropdown-toggle" aria-expanded="false" data-toggle="collapse">
                <i class="fas fa-tasks"></i> Admin
            </a>
            <ul class="collapse list-unstyled" id="gestionSubmenu">
                <li><a href="/upload" class="sidebar-item"><i class="fas fa-upload"></i> Uploads files</a></li>
                <li><a href="/gestion" class="sidebar-item"><i class="fas fa-database"></i> Databases</a></li>
            </ul>
        </li>
        <li><a href="/#" class="sidebar-item"><i class="fas fa-file-alt"></i> Encadrement</a></li>
    </ul>
</div>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script>
    // Function to handle item click
    $('.sidebar-item').on('click', function() {
        // Remove selected class from all items
        $('.sidebar-item').removeClass('selected');
        // Add selected class to the clicked item
        $(this).addClass('selected');
        // Save the selected item to local storage
        localStorage.setItem('selectedItem', $(this).attr('href'));
    });

    // Function to mark the selected item on page load
    $(document).ready(function() {
        // Retrieve the selected item from local storage
        var selectedItem = localStorage.getItem('selectedItem');
        // Check if there's a selected item
        if (selectedItem) {
            // Remove selected class from all items
            $('.sidebar-item').removeClass('selected');
            // Add selected class to the item with the matching href
            $('a[href="' + selectedItem + '"]').addClass('selected');
        }
    });
</script>
</body>

