
    <div class="sidebar-nav">
        <div class="logo">
            <a href="/">Gestion des Stages</a>
        </div>
        <ul>
            <li><a href="/#" class="sidebar-item"><i class="fas fa-tachometer-alt"></i> Tableau de bord</a></li>
            <li><a href="/#" class="sidebar-item"><i class="fas fa-users"></i> Étudiants</a></li>
            <li><a href="/#" class="sidebar-item"><i class="fas fa-chalkboard-teacher"></i> Enseignants</a></li>
            <li><a href="/#" class="sidebar-item"><i class="fas fa-building"></i> Entreprises</a></li>
            <li><a href="/#" class="sidebar-item"><i class="fas fa-file-alt"></i> Liste des stages</a></li>
            <li><a href="/#" class="sidebar-item"><i class="fas fa-calendar-alt"></i> Calendrier</a></li>
            <li><a href="/#" class="sidebar-item"><i class="fas fa-cog"></i> Paramètres</a></li>
             <!--  <li><a href="/upload" class="sidebar-item"><i class="fas fa-upload"></i> Uploads files</a></li>
            <li><a href="/gestion" class="sidebar-item"><i class="fas fa-database"></i> Databases</a></li> -->
             <li>
                <a href="#gestionSubmenu" class="sidebar-item dropdown-toggle" aria-expanded="false" data-toggle="collapse">
                    <i class="fas fa-tasks"></i> Admin
                </a>
                <ul class="collapse list-unstyled" id="gestionSubmenu">
                    <li><a href="/upload" class="sidebar-item"><i class="fas fa-upload"></i> Uploads files</a></li>
                    <li><a href="/gestion" class="sidebar-item"><i class="fas fa-database"></i> Databases</a></li>
                </ul>
            </li> 
            <li><a href="/supervision#" class="sidebar-item"><i class="fas fa-file-alt"></i> Encadrement</a></li>
        </ul>
    </div>