
  
  <!-- Modal for invalid file type -->
  <div class="modal" id="invalidFileModal" tabindex="-1" role="dialog" aria-labelledby="invalidFileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="invalidFileModalLabel">Type de fichier invalide</h5>
          <button type="button" class="close" id="invalidFileModalClose">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Veuillez sélectionner un fichier format  .csv ou .xlsx.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="invalidFileModalCloseBtn">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal for no file selected -->
  <div class="modal" id="noFileSelectedModal" tabindex="-1" role="dialog" aria-labelledby="noFileSelectedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="noFileSelectedModalLabel">Aucun fichier sélectionné</h5>
          <button type="button" class="close" id="noFileSelectedModalClose">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Veuillez sélectionner un fichier Excel (.csv ou .xlsx) à télécharger.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="noFileSelectedModalCloseBtn">fermer</button>
        </div>
      </div>
    </div>
  </div>
  
