 <div>
        <div class="form-group">
            <label for="menus"><strong>Voir les tables existants et leurs schemas : </strong></label><br/>
            <select id="menus" onchange="showContents()" onchange=" getSelectedValue()">
                <option value="" selected disabled>Selectionner  la table</option>
                <% if (items) { %>
                    <% Object.keys(items).forEach(function(key) { %>
                        <option value="<%= key %>"><%= key %></option>
                    <% }); %>
                <% } %> 
            </select>
        </div>
        <div id="contents">
            <!-- Contents will be displayed here -->
        </div>
    </div>
    <script>
        function showContents() {
            var menus = document.getElementById("menus");
            var selectedValue = menus.value;
            var contentsDiv = document.getElementById("contents");
            var items = <%- JSON.stringify(items) %>; // Accessing the 'items' object
            
            if (selectedValue === "") {
                contentsDiv.innerHTML = "<p>Please select a table.</p>";
                return;
            }

            var contents = items[selectedValue];

            if (contents) {
                var contentsHTML = "<strong>Le schema de la table  " + selectedValue + "</strong><div class='table-responsive'><table class='table table-bordered'><tr>";
                contents.forEach(function(item) {
                    contentsHTML += "<td>" + item + "</td>";
                });
                contentsHTML += "</tr></table></div>";
                contentsDiv.innerHTML = contentsHTML;
            } else {
                contentsDiv.innerHTML = "<p>No contents available for this item.</p>";
            } 
            console.log(selectedValue)
            return selectedValue;
        }
    </script>
               

