<style>
    .accordion {
  width: 100%;
}

</style>
   <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              cheick others Tables and structure :
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                            
                <div class="form-group">
                    <label for="menus" style="display: inline-block; width: 200px;">All tables and schemaInfo:</label>
                         <select id="menus" class="form-control form-control-sm" style="width: 150px; display: inline-block;" onchange="showContents()" onchange=" getSelectedValue()">
                    
                        <option value=" " selected disabled>Selectionner la table</option>
                        <% if (items) { %>
                            <% Object.keys(items).forEach(function(key) { %>
                                <option value="<%= key %>"><%= key %></option>
                            <% }); %>
                        <% } %> 
                    </select>
                </div>
                <div id="contents">
                    <!-- Contents will be displayed here -->
                </div>
            </div>
              
            </div>
          </div>
        </div>
      </div>

 <div>



    <script>
        function showContents() {
            var menus = document.getElementById("menus");
            var selectedValue = menus.value;
            var contentsDiv = document.getElementById("contents");
            var items = <%- JSON.stringify(items) %>; // Accessing the 'items' object
            
            if (selectedValue === "") {
                contentsDiv.innerHTML = "<p>Please select a table.</p>";
                return;
            }

            var contents = items[selectedValue];

            if (contents) {
                var contentsHTML =  "</strong><div ><table class='table table-bordered table-sm  ' ><tr>";
                contents.forEach(function(item) {
                    contentsHTML += "<td>" + item + "</td>";
                });
                contentsHTML += "</tr></table></div>";
                contentsDiv.innerHTML = contentsHTML;
            } else {
                contentsDiv.innerHTML = "<p>No contents available for this item.</p>";
            } 
            console.log(selectedValue)
            return selectedValue;
        }
    </script>

