<div id="successToast" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
    <div class="toast-header">
      <strong class="me-auto">Succès</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <!-- Success message will go here -->
    </div>
  </div>
  
  <div id="warningToast" class="toast bg-warning text-dark" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="5000">
    <div class="toast-header">
      <strong class="me-auto">Attention</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <!-- Warning message will go here -->
    </div>
  </div>
  
  <div id="errorToast" class="toast bg-danger text-white" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Erreur</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <!-- Error message will go here -->
    </div>
  </div>
  
  <style>
    .toast {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 1050;
    }
  </style>














<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Confirmer la suppression</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer la soutenance ID : <span id="delete-soutenance-id"></span> ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-danger delete-confirm-btn">Supprimer</button>
        </div>
      </div>
    </div>
  </div>

            <!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirmer la suppression</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer cette soutenance ID: <span id="soutenanceId"></span> ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" id="confirmDeleteBtn" class="btn btn-danger">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
  
                       

            <!-- Add Soutenance Modal -->
<div class="modal fade" id="addSoutenanceModal" tabindex="-1" aria-labelledby="addSoutenanceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSoutenanceModalLabel">Ajouter une nouvelle Soutenance</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addSoutenanceForm">
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="time" class="form-label">Heure</label>
                            <input type="time" class="form-control" id="time" name="time" required>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="salle" class="form-label">Salle</label>
                            <input type="text" class="form-control" id="salle" name="salle" placeholder="Numéro de salle" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <label for="groupe" class="form-label">Groupe</label>
                            <input type="text" class="form-control" id="groupe" name="groupe" placeholder="Groupe" required>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="type" class="form-label">Type</label>
                            <select class="form-control" id="type" name="type" required>
                                <option value="">Choisir...</option>
                                <option value="Binome">Binôme</option>
                                <option value="Monome">Monôme</option>
                                <option value="Trinome">Trinôme</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 mb-2">
                            <label for="etudiant1" class="form-label">Étudiant 1</label>
                            <input type="text" class="form-control" id="etudiant1" name="etudiant1" placeholder="Nom de l'étudiant" required>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="etudiant2" class="form-label">Étudiant 2</label>
                            <input type="text" class="form-control" id="etudiant2" name="etudiant2" placeholder="Nom de l'étudiant">
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="etudiant3" class="form-label">Étudiant 3</label>
                            <input type="text" class="form-control" id="etudiant3" name="etudiant3" placeholder="Nom de l'étudiant">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="sujet" class="form-label">Sujet</label>
                            <textarea rows="2" type="text" class="form-control" id="sujet" name="sujet" placeholder="Sujet de la soutenance" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="president" class="form-label">Président</label>
                            <input type="text" class="form-control" id="president" name="president" placeholder="Nom du président" required>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="rapporteur" class="form-label">Rapporteur</label>
                            <input type="text" class="form-control" id="rapporteur" name="rapporteur" placeholder="Nom du rapporteur" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-2">
                            <label for="encadrantAcademique" class="form-label">Encadrant Académique</label>
                            <input type="text" class="form-control" id="encadrantAcademique" name="encadrantAcademique" placeholder="Nom de l'encadrant académique" required>
                        </div>
                        <div class="col-md-6 mb-2">
                            <label for="encadrantProfessionnel" class="form-label">Encadrant Professionnel</label>
                            <input type="text" class="form-control" id="encadrantProfessionnel" name="encadrantProfessionnel" placeholder="Nom de l'encadrant professionnel" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-2">
                            <label for="entreprise" class="form-label">Entreprise</label>
                            <input type="text" class="form-control" id="entreprise" name="entreprise" placeholder="Nom de l'entreprise" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">fermer</button>
                <button type="button" class="btn btn-primary" id="submitSoutenance">enregistrer Soutenances</button>
            </div>
        </div>
    </div>
</div>
                            
<style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f0f0f0;
        transition: background-color 0.5s ease;
        margin: 0;
        padding: 0;
    

    }
    .modal-body .row {
        margin-bottom: 10px;
    }
    .modal-body label {
        font-weight: bold;
    }

    .custom-container {
        display: flex;
        height: 100vh;
    }

    .main-content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        animation: fadeIn 0.5s ease-out;
    }

    h1 {
        color: #333;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin: 20px 0;
        animation: slideDown 0.5s ease-out;
    }

    .table-container {
        flex-grow: 1;
        overflow: auto;
        position: relative;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        animation: fadeIn 0.8s ease-out;
        font-weight: bold;
        background-color: #f3f2f2;
        table-layout: fixed;
    }
   
    thead {
        font-weight: bold;
        position: sticky;
        top: 0;
        z-index: 1;

    }

    th, td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }


th:nth-child(1), td:nth-child(1) { width: 50px; }  /* New Column */
th:nth-child(2), td:nth-child(2) { width: 50px; }  /* ID */
th:nth-child(3), td:nth-child(3) { width: 120px; } /* Date */
th:nth-child(4), td:nth-child(4) { width: 120px; } /* Time */
th:nth-child(5), td:nth-child(5) { width: 80px; }  /* Salle */
th:nth-child(6), td:nth-child(6) { width: 100px; } /* Groupe */
th:nth-child(7), td:nth-child(7) { width: 120px; } /* Type */
th:nth-child(8), td:nth-child(8),
th:nth-child(9), td:nth-child(9),
th:nth-child(10), td:nth-child(10) { width: 120px; } /* Etudiants */
th:nth-child(11), td:nth-child(11) { width: 300px; } /* Sujet */
th:nth-child(12), td:nth-child(12),
th:nth-child(13), td:nth-child(13) { width: 150px; } /* President, Rapporteur */
th:nth-child(14), td:nth-child(14),
th:nth-child(15), td:nth-child(15) { width: 180px; } /* Encadrants */
th:nth-child(16), td:nth-child(16) { width: 150px; } /* Entreprise */


    th {
        background-color: #f2f2f2;
        font-weight: bold;
        color: #333;
    }

    tbody tr:hover {
        background-color: #f5f5f5;
        transition: background-color 0.3s ease;
    }

    input[type="text"], input[type="date"], input[type="time"], select {
        width: 100%;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: border-box;
        transition: border-color 0.3s ease;
    }

    input[type="text"]:focus, input[type="date"]:focus, input[type="time"]:focus, select:focus {
        border-color: #4CAF50;
        outline: none;
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes slideDown {
        from { transform: translateY(-20px); opacity: 0; }
        to { transform: translateY(0); opacity: 1; }
    }

    @keyframes pulse {
        0% { transform: scale(1); }
        50% { transform: scale(1.05); }
        100% { transform: scale(1); }
    }

    .update-success {
        animation: pulse 0.5s ease-out;
    }
    
    .conflict{
        background-color:beige;
        color: rgb(0, 0, 0);
        padding: 2px;
        border-radius: 20px;
      border-width: 2px;
        border-color: rgb(255, 0, 0);
        margin: 5px;
        font-weight: bold;
        animation: pulse 0.5s ease-out;
    }

    /* Hide the language selector */
.language-selector {
display: none;
}

.is-invalid {
    border-color: red;
    border-width: 15px;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    animation: pulse 0.5s ease-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}



</style>